<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/7896290300011.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">ARROZ BRANCO PRATO FINO TIPO 1,5K</h5>
            <p class="card-text">Presente diariamente nas refeições do brasileiro, acompanhado ou não do feijãozinho, o Arroz Prato Fino Tipo 1 vem em sacos de 5kg de arroz polido, tradicional e padrão superior.</p>
            <p class="card-text">R$30,99</p>
            <a (click)="Comprar()" href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/954964-06-09-2022-13-56-54-393.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">BATATA CONGELADA CRINKLE BEM BRASIL 2KG</h5>
            <p class="card-text">Batata Congelada Crinkle Bem Brasil 2Kg: Bem Brasil combina com deliciosas receitas que combina com você, agora com a linha Crinkle com corte especial suas batatas ficam crocantes e saborosas</p>
            <p class="card-text">R$31,90</p>
            <a (click)="Comprar()" href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>

        <div class="card" style="width: 18rem;">
          <img src="../../assets/614462.webp" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">ALFACE AMERICANA 250G</h5>
              <p class="card-text">Alface natural</p>
              <p class="card-text">R$10,98</p>
              <a (click)="Comprar()" href="#" class="btn btn-primary container-fluid">Comprar</a>
          </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/picanha-ouro-swift-615458_1.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">PICANHA NOBRE MAIS OURO DE 1,1KG A 1,5KG</h5>
            <p class="card-text">Proveniente de gado selecionado, maturada e tenderizada, a Picanha Nobre Mais Ouro vem sempre em peças menores, garantindo um toque de nobreza ao seu sabor.</p>
            <p class="card-text">R$76,98</p>
            <a (click)="Comprar()" href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
    </div>
</div>