<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/mitski.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">MITSKI</h5>
            <p class="card-text">Mitski é muito linda e eu amo muito ela!!!!!!</p>
            <a href="#" class="btn btn-primary container-fluid">Veja mais</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/mitski.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">MITSKI</h5>
            <p class="card-text">Mitski é muito linda e eu amo muito ela!!!!!!</p>
            <a href="#" class="btn btn-primary container-fluid">Veja mais</a>
        </div>
      </div>
</div>